:root {
  --offwhite: #F8F9FA;
  --lightgray: #E9ECEF;
  --gray: #797979;
  --darkgray: #212528;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
/*   padding-top: 165px;  */
/*  padding-top: 100px;*/
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
}

.container {
  padding: 20px 100px;
}

header .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


#home-page {
/*   padding: 50px 0; */
  font-size: 30px;
  color: darkorange;
  font-style: italic;
  
}

nav {
  padding-top: 5px;
}

nav a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav li:hover {
  color: darkorange;
}

#inner-nav {
  transition: transform .2s ease-in-out;
  transform-origin: top;
}

#hamburger {
  display: none;
  cursor: pointer;
}

main {
/*   margin-top: 200px; */
}

section {
/*  height: 300px;*/
  height: 100%;
/*   padding-top: 50px; */
/*   border: 2px solid black; */
  margin: 0px auto;
  padding: 150px 20px;
  text-align: center;
}

section:nth-child(2n+1) {
  background: var(--offwhite);
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

section h2 {
  font-size: 45px;
  margin: 0;
}

section h3 {
  font-style: italic;
  color: darkgray;
  padding-bottom: 50px;
}


/* INTRO SECTION */
#intro {
  height: 600px;
  background: gray;
  background-image: url(/images/desk_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

#intro h1 {
  font-size: 4em;
}

#intro h2 {
  padding-top: 200px;
  font-size: 3em;
}

#intro a {
  font-size: 1.5em;
}

#intro .button {
  background: orange;
  color: white;
  border-radius: 5px;
  padding: 20px 40px;
  cursor: pointer;
  text-decoration: none;
}

/* SERVICES SECTIONS*/

.service {
  width: 350px;
}

.service img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

/* PORTFOLIO SECTION */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.project {
  width: 350px;
  margin: 10px auto;
  background: white;
}

.img-container {
  position: relative;
}


.project img, .zoom {
  width: 350px;
  height: 250px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.zoom {
  position: absolute;
  top: 0;
  left: 0;
  background: orange;
  opacity: 0;
}

.fa-plus {
  font-size: 60px;
  padding: 90px 0;
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .zoom {
  opacity: 0.7;
}


.project h4 {
  font-size: 20px;
  margin: 0;
  padding-top: 30px;
}

.project h5 {
  font-style: italic;
  color: darkgray;
  margin: 0;
  padding-bottom: 30px;
}

.project-detail {
  display: none;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  
  opacity: 0;
  
  transition: top .2s ease-in, opacity .2s ease-in;
}

.project-detail__content {
  background: white;
  padding: 50px;
  margin: 20px;
}

.project-detail img, .project-detail p {
  width: 700px;
  margin: 10px auto;
}

.close-project-detail {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  font-size: 70px;
}

/* TIMELINE SECTION */

#timeline {
  position: relative;
}

#timeline:before {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 50%;
  transform: translateX(-2px);
  width: 4px;
  content: '';
  background-color: var(--lightgray);
  z-index: -1;
/*  background-color: red;*/
}

.timeline-point {
  display: flex;
  margin: 100px auto;
  width: 806px;
  text-align: right;
}

.timeline-point--right {
  flex-direction: row-reverse;
  text-align: left;
}

.timeline-point__text {
  width: 300px;
  padding-right: 20px;
}

.timeline-point--right .timeline-point__text {
  width: 300px;
  padding-right: 0px;
  padding-left: 20px;
}

.timeline-point img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid var(--lightgray);
  margin-left: 0px;
  margin-right: 320px;
}

.timeline-point--right img {
  margin-left: 320px;
  margin-right: 0px;
}


/* TEAM SECTION */
#team-members {
  display: flex;
  justify-content: space-around;
}

.teammate {
  width: 300px;
}

.teammate img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.social-media {
  padding: 0;
}

.social-media li {
  display: inline-block;
  list-style: none;
  background: var(--darkgray);
  font-size: 12px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  
  transition: background .2s ease-in;
}

.social-media li:hover {
  background: darkorange;
}

.social-media a {
  text-decoration: none;
  color: white;
}

#team p {
  width: 700px;
  margin: 0 auto;
  color: var(--gray);
  text-align: center;
}

/* TECHNOLOGIESZ SECTION */

#technologies ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0 auto;
}

#technologies li {
  position: relative;
  color: var(--gray);
  list-style: none;
  font-size: 100px;
  cursor: pointer;
}

#technologies li span {
  position: absolute;
  padding: 5px 0;
  width: 100px;
  bottom: -40px;
  left: 50%;
  margin-left: -50px;
  font-size: 20px;
  background: var(--gray);
  color: white;
  border-radius: 10px;
  
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

#technologies li span::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid var(--gray);
}

#technologies li:hover span {
  opacity: 1;
}

/* CONTACT SECTION */

#contact {
  background-image: url(/images/earth.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#contact h2 {
  color: white;
}

#contact-form {
  display: grid;
  grid-template-areas:
    "left   right"
    "left   right"
    "submit submit";
  width: 900px;
  margin: 0 auto;
}

#contact-form div {
  grid-area: left;
  display: flex;
  flex-direction: column;
}

#contact-form input, #contact-form textarea, #contact-form button {
  margin: 10px;
  border-radius: 5px;
  border: none;
}

#contact-form input {
  height: 50px;
  width: 400px;
  padding: 0 10px;
}

#contact-form textarea {
  grid-area: right;
  height: 170px;
  width: 400px;
  padding: 10px;
}

#contact-form button {
  grid-area: submit;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  background: orange;
  color: white;
  font-size: 16px;
  font-weight: bold;
  
  transition: background .2s ease-in;
}

#contact-form button:hover {
  background: darkorange;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
/*  width: 900px;*/
  margin: 0 50px;
}

#copyright, footer ul, #policies {
  width: 300px;
  padding: 25px 0;
}

footer .social-media {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#policies {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  color: orange;
}

#policies p {
  padding-right: 10px;
}


@media (max-width: 1080px) {
  
  .container {
    padding: 20px 30px;
  }
  
  #inner-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;

    transform: scaleY(0);
  }
  
  #hamburger {
    display: inline;
  }
}
