html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
/*   padding-top: 165px;  */
/*  padding-top: 100px;*/
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
}

.container {
  padding: 20px 100px;
}

header .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


#home-page {
/*   padding: 50px 0; */
  font-size: 30px;
  color: darkorange;
  font-style: italic;
  
}

nav {
  padding-top: 5px;
}

nav a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav li:hover {
  color: darkorange;
}

#inner-nav {
  transition: transform .2s ease-in-out;
  transform-origin: top;
}

#hamburger {
  display: none;
  cursor: pointer;
}

main {
/*   margin-top: 200px; */
}

section {
/*  height: 300px;*/
  height: 100%;
/*   padding-top: 50px; */
/*   border: 2px solid black; */
  margin: 0px auto;
  padding: 150px 20px;
  text-align: center;
}

section:nth-child(2n+1) {
  background: #F8F9FA;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

section h2 {
  font-size: 45px;
  margin: 0;
}

section h3 {
  font-style: italic;
  color: darkgray;
  padding-bottom: 50px;
}

#intro {
  height: 600px;
  background: gray;
  background-image: url(/images/desk_background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

#intro h1 {
  font-size: 4em;
}

#intro h2 {
  padding-top: 200px;
  font-size: 3em;
}

#intro a {
  font-size: 1.5em;
}

#intro .button {
  background: orange;
  color: white;
  border-radius: 5px;
  padding: 20px 40px;
  cursor: pointer;
  text-decoration: none;
}

.service {
  width: 350px;
}

.service img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.project {
  width: 350px;
  margin: 10px auto;
  background: white;
}

.img-container {
  position: relative;
}


.project img, .zoom {
  width: 350px;
  height: 250px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.zoom {
  position: absolute;
  top: 0;
  left: 0;
  background: orange;
  opacity: 0;
}

.fa-plus {
  font-size: 60px;
  padding: 90px 0;
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .zoom {
  opacity: 0.7;
}


.project h4 {
  font-size: 20px;
  margin: 0;
  padding-top: 30px;
}

.project h5 {
  font-style: italic;
  color: darkgray;
  margin: 0;
  padding-bottom: 30px;
}


@media (max-width: 1080px) {
  
  .container {
    padding: 20px 30px;
  }
  
  #inner-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;

    transform: scaleY(0);
  }
  
  #hamburger {
    display: inline;
  }
}
